@media only screen and (min-width: 1200px) {
  html {
    font-size: 16px;
  }
  body {
    background-image: url(../images/large-shape.svg);
    background-repeat: no-repeat;
    background-position: right 60px top 10px;
    background-size: 45%;
  }
  .section-one {
    margin-top: 5rem;
  }
  .section-one h1 {
    font-size: 5rem;
  }
  .section-one .clients {
    margin-top: 120px;
  }
  .section-one .clients .brands {
    margin-top: 30px;
  }
  .section-two .counter {
    margin-top: 40px;
  }
  .section-two .counter span.number {
    padding: 16px 22px;
  }
  .section-two .counter {
    font-size: 1.875rem;
  }
  .section-three {
    margin-top: 120px;
  }
  .section-four {
    margin-top: 160px;
  }
  .section-five {
    margin-top: 160px;
  }
  .feature .content h2 {
    font-size: 3.125rem;
  }
  .offers {
    margin-top: 120px;
  }
  .offers h1.title {
    padding-top: 120px;
    font-size: 3.125rem;
  }
  .offers .switch {
    padding-top: 80px;
  }
  .offers .prices .price span.duration {
    font-size: 2rem;
  }
  .offers .prices .price span.cost {
    font-size: 2rem;
  }
  .container .feedback {
    padding-top: 80px;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 120px;
  }
  .container .feedback .title h1 {
    font-size: 3.125rem;
  }
  .container .feedback .comments .comment .content {
    margin-top: 80px;
    margin-right: 30px;
  }
}

@media only screen and (max-width: 1199px) {
  html {
    font-size: 14px;
  }
  .section-one .right {
    position: relative;
    margin-top: 40px;
    padding-top: 50px;
    background-image: url(../images/large-shape.svg);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: top right -100px;
  }
  .section-one {
    margin-top: 40px;
  }
  .section-one h1 {
    font-size: 2.857142857142857rem;
  }
  .section-one .buttons .view {
    margin-top: 20px;
  }
  .section-one .clients {
    margin-top: 40px;
  }
  .section-one .clients .brands {
    margin-top: 48px;
  }
  .section-two .counter {
    margin-top: 20px;
  }
  .section-two .counter span.number {
    padding: 6px 9px;
  }
  .section-two .counter {
    font-size: 1.1428571428571428rem;
  }
  .section-three {
    margin-top: 80px;
  }
  .section-four {
    margin-top: 120px;
  }
  .section-five {
    margin-top: 120px;
  }
  .feature .content h2 {
    font-size: 2.142857142857143rem;
  }
  .offers {
    margin-top: 80px;
  }
  .offers h1.title {
    padding-top: 80px;
    font-size: 2.142857142857143rem;
  }
  .offers .switch {
    padding-top: 40px;
  }
  .offers .prices .price span.duration {
    font-size: 1.7142857142857142rem;
  }
  .offers .prices .price span.cost {
    font-size: 1.7142857142857142rem;
  }
  .container .feedback {
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 80px;
  }
  .container .feedback .title h1 {
    font-size: 2.142857142857143rem;
  }
  .container .feedback .title .navigator {
    margin-top: 40px;
  }
  .comments .comment .content {
    margin-top: 60px;
  }
}

body {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
}

.header .menu {}

.header .menu ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
}

.header .menu ul li {
  padding: 10px 20px;
}

.header .menu ul li a {
  color: rgb(9, 11, 39, 0.5);
}

.header .menu ul li a:hover {
  text-decoration: none;
}

.header .menu ul li a.active {
  color: #090B27;
  border-bottom: 2px solid #6347FB;
}

.mobile-menu {
  visibility: hidden;
  display: block;
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
}

.mobile-menu nav {
  background: #fff;
  box-shadow: 0px 40px 60px rgba(0, 0, 0, 0.15);
}

.mobile-menu nav ul {
  list-style-type: none;
  text-align: center;
  position: relative;
  padding-inline-start: 0px;
  padding-block-end: 80px;
  padding-block-start: 80px;
}

.mobile-menu nav li {
  font-weight: 300;
  font-size: 30px;
  color: #090B27;
  display: block;
  padding: 20px;
}

.mobile-menu nav a {
  color: rgba(9, 11, 39, 0.5);
  text-decoration: none;
}

.mobile-menu nav a.active {
  color: #090B27;
  border-bottom: 2px solid #6347FB;
}

.header .download button {
  border-radius: 100px;
  border: none;
  padding: 10px 20px 10px 20px;
  font-size: 0.875rem;
  font-weight: 500;
  color: #6347FB;
  background: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
}

.header .download-menu button {
  border-radius: 100px;
  border: none;
  padding: 8px 16px;
  font-size: 0.75rem;
  font-weight: 500;
  color: #fff;
  background: #6347FB;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
}

.header .download-menu a {
  color: #090B27;
  margin-left: 10px;
}

.section-one h1 {
  font-weight: 300;
  color: #090B27;
}

.section-one p {
  margin-top: 20px;
  font-size: 1.20rem;
  font-weight: 300;
  color: #5B5D7E
}

.section-one .buttons {
  margin-top: 40px;
}

.section-one .buttons .download button {
  background-color: #6347FB;
  color: #fff;
  font-weight: 500;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  border: none;
  padding: 20px 32px;
}

.section-one .buttons .view a {
  margin-left: 10px;
  color: #6347FB;
  font-weight: 500;
}

.section-one .clients .info {
  font-weight: 300;
  color: #5B5D7E;
}

.section-one .clients .brands {}

.section-one .clients .brands div {
  margin-bottom: 20px;
}

.section-two .text span {
  font-size: 1rem;
  color: #5B5D7E;
  font-weight: 300;
}

.section-two .counter {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 5px;
  font-weight: 500;
  color: #6347FB;
}

.section-two .counter span {
  margin-left: 5px;
}

.section-two .counter {}

.section-two .counter span.dollar {
  align-self: center;
  margin-right: 5px;
}

.section-two .counter span.number {
  background-color: rgb(99, 71, 251, 0.1);
  border-radius: 8px;
}

.section-two .counter span.comma {
  align-self: flex-end;
}

.feature .content h2 {
  font-weight: 300;
}

.feature .content span {
  display: block;
  margin-top: 40px;
  font-weight: 300;
  font-size: 1.25rem;
  color: #5B5D7E;
}

.feature .content a {
  display: block;
  margin-top: 40px;
  font-weight: 500;
  font-size: 1.125rem;
  color: #6347FB;
}

.offers {
  margin-top: 50px;
  background-image: url(../images/offers-background.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.offers h1.title {
  font-weight: 300;
  text-align: center;
}

.offers .switch {
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

.offers .switch span {
  padding: 0px 20px;
  font-size: 18px;
  line-height: 32px;
}

.offers .switch span.active {
  font-weight: 500;
}

.offers .switch .toggle {
  display: flex;
  width: 60px;
  height: 32px;
  background: rgba(99, 71, 251, 0.15);
  border-radius: 100px;
}

.offers .switch .toggle a.button {
  width: 32px;
  height: 32px;
  background: #6347FB;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 32px;
  cursor: pointer;
  background-image: url(../images/checkmark.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.offers .prices {
  margin-top: 40px;
}

.offers .prices .price h6.title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1rem;
}

.offers .prices .price {
  background: #FFFFFF;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 40px 60px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 40px;
  box-sizing: border-box;
}

.offers .prices .price.recommended {
  background-image: url(../images/recommended.png);
  background-repeat: no-repeat;
  background-position: top 20px right -10px;
}

.offers .prices .price span.duration {
  font-weight: 300;
  color: #6347FB;
}

.offers .prices .price span.cost {
  font-weight: 500;
  color: #6347FB;
}

.offers .prices .price hr {
  margin: 40px 0px 20px 0px;
  height: 0.5px;
}

.offers .prices .price span.description {
  font-size: 1rem;
  color: #5B5D7E;
}

.offers .prices .price a button.try {
  font-size: 0.875rem;
  margin-top: 20px;
  background: #6347FB;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  color: #fff;
  width: 100%;
  height: 40px;
  border: none;
}

.offers ul.features {
  margin-top: 40px;
  padding-inline-start: 0px;
}

.offers ul.features li {
  font-size: 1rem;
  list-style: none;
  font-weight: 300;
  margin-bottom: 20px;
  color: #5B5D7E;
}

.offers ul.features li i {
  color: #6347FB;
  font-size: 1.2rem;
  margin-right: 10px;
}

.container .feedback {
  background: #6347FB url(../images/feedback-background.png);
  background-position: bottom left 40px;
  height: 400px;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.container .feedback .title {}

.container .feedback .title h1 {
  color: #fff;
  font-weight: 300;
}

.container .feedback .title a {
  font-size: 1.3rem;
  color: #fff;
}

.container .feedback .comments {}

.comment .content {
  height: 193px;
  background: #fff;
  box-shadow: 0px 40px 60px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 30px;
  box-sizing: border-box;
  font-weight: 300;
}

.comment .content {
  display: flex;
  flex-direction: column;
  height: 193px;
  background: #fff;
  box-shadow: 0px 40px 60px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 30px;
  box-sizing: border-box;
  font-weight: 300;
}

.comment .content .star {
  margin-top: auto;
}

.comment .profile {
  margin: 20px;
}

.comment .profile img {
  border: 4px solid #fff;
  border-radius: 500px;
  margin-right: 10px;
}

.comment .profile span {
  font-weight: 500;
  font-size: 1rem;
}

.footer {
  margin: 50px;
}